* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    background-image: linear-gradient(to bottom right, pink,yellow);
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-container {
    width: 1200px;
    height: 800px;
    border: 10px solid purple;
    padding: 20px;

    background-color: aquamarine;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-gap:20px;

    justify-items: stretch;
    align-items: stretch;

    grid-template-areas: 
        "article header header"
        "article main main"
        "article main main";
    

}

.grid-element:nth-child(1) {
    grid-area: article;

    background-color: yellow;
    font-size: 2rem;
    color: purple;
    text-align: center;
    font-family: monospace, sans-serif;
    font-weight: bold;
}
.grid-element:nth-child(2) {
    grid-area: header;

    background-color: blue;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: monospace, sans-serif;
    font-weight: bold;
}
.grid-element:nth-child(3) {
    grid-area: main;

    background-color: red;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: monospace, sans-serif;
    font-weight: bold;
}

@media  screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 3fr ;

        grid-template-areas: 
            "article article"
            "header header"
            "main main";
    }

}